* {
  box-sizing: border-box;
}

html {
  font-family: "Jetbrains Mono Condensed", "Courier New", Courier, monospace;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

::selection {
  background-color: teal;
  color: white;
}

/* Specific Styling */

.main {
  max-width: 800px;
  padding: 16px;
  margin: 0 auto;
}

.profession::after {
  content: " 🤓";
}

.main-header {
  text-align: center;
  background-color: goldenrod;
  padding: 15px;
}

.main > * + * {
  margin-top: 40px;
  padding-top: 40px;
  border-top: black 2px dashed;
}

.top-nav {
  padding: 30px;
}

.nav-link + .nav-link {
  margin-left: 40px;
}

.nav-link {
  border: solid teal 1px;
  padding: 4px 8px;
  color: black;
}

.nav-link:hover {
  background-color: teal;
  color: goldenrod;
}

.section-header > * {
  display: inline;
}

.nav-link:active {
  background-color: goldenrod;
  color: teal;
}
